---
import AboutHeroImage from '../../public/images/about/Copertina.png';
import AboutHeroImage2 from '../../public/images/about/Copertina_2.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
    title="Risolutori"
    description="Il nostro diario di campagna di Storm King's Thunder"
    heroImages={[AboutHeroImage, AboutHeroImage2]}
>
    <p>
        In queste pagine, troverete il
        resoconto di come il nostro gruppo ha vissuto le avventure del modulo
        <strong>Storm King's Thunder</strong>. Questo progetto raccoglie appunti di gioco,
        riassunti delle sessioni e materiali di supporto per seguire il viaggio dei
        personaggi tra le terre del Nord e i giganti.
    </p>
    <p>
        L’obiettivo è offrire una lettura scorrevole per altri giocatori e master: niente spoiler gratuiti,
		solo tanta cronaca di gioco,
        immagini generate tramite chat-gpt (che verranno migliorate successivamente alla conclusione della campagna) 
		e un indice chiaro per navigare tra le sessioni.
    </p>

</Layout>
